/** TEXT & FONT **/

h4 {
  font-weight: 400;
  color: #FEEB99;
}

p {
  padding-bottom: 30px;
}

/** CHOOSE YOUR DAN **/

header {
  position: relative;
  background-color: #4B182E;
  height: 600px;
}

.header-title {
  display: inline-block;
  text-align: center;
  margin: 50px 8% 10% 8%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}

.mySlides {
  text-align: center;
  display: none;
  position: relative;
  height: 250px;
}

.slide-text {
  text-align: center;
  margin: 30px 8% 0px 8%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 8%;
  color: #FEEB99;
  font-weight: bold;
  font-size: 36px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/** SECTION **/

section {
  margin-top: 100px;
  padding: 0 8%;
}

#four-tops {
  padding-top: 53px;
}

.section-paragraph {
  padding-top: 30px;
}

.less-space {
  padding-bottom: 5px;
}
