*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #121121;
  color: #FBF8F3;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 400px;
}

/** typography **/

h1 {
  font-family: Montserrat Alternates, sans-serif;
  font-size: 4.2rem; /* 42px */
  line-height: 51px;
}

h2 {
  font-family: Montserrat Alternates, sans-serif;
  font-size: 3.6rem; /* 36px */
  line-height: 44px;
}

h3 {
  font-family: Montserrat Alternates, sans-serif;
  font-size: 1.8rem; /* 18px */
  line-height: 2.2rem; /* 22px */
}

h4 {
  font-family: Raleway, sans-serif;
  font-size: 3.6rem; /* 36px */
  font-weight: 700;
  line-height: 4.2rem; /* 42px */
}

h5 {
  font-family: raleway, sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 700;
  line-height: 2.1rem; /* 21px */
}

h6 {
  font-family: raleway, sans-serif;
  font-size: 2.4rem; /* 24 px */
  font-weight: 400;
  line-height: 2.8rem; /* 28px */
}

p {
  font-family: droid-serif, serif;
  font-size: 1.6rem; /* 16px */
  line-height: 2.2rem; /* 22px */
}

/** navigation **/

nav {
  background-color: #FEEB99;
  color: #121121;
  height: 6rem; /* 60px */
  position: relative;
}

.my-logo {
  float: left;
  height: 6rem; /* 60px */
}

.nav-text {
  display: none;
}

.Ham-menu {
  color: #121121;
  position: absolute;
  right: 8%;
  top: 1.5rem; /* 14px */
}

/** Contact Button **/

.CONTACT {
  border: 1px solid #FEEB99;
  box-shadow: 0px 0px 4px #FEEB99, inset 0px 0px 4px #FEEB99;
  height: 4.8rem;
  margin: 20px 0 30px 0;
  width: 14.7rem;
}

.CONTACT a {
  align-items: center;
  color: #FEEB99;
  display: flex;
  height: 4.8rem; /* 48px */
  justify-content: center;
  text-decoration: none;
  width: 14.7rem; /* 147px */
}

/** footer **/

footer {
  text-align: center;
  margin-top: 50px; /* 50px */
}

#footer-contact {
  display: inline-flex;
}

.social-media-links {
  display: flex;
  justify-content: center;
}

.social-media-links li {
  margin: 0 10px 50px 10px;
}

.fab {
  color: #FBF8F3;
  font-size: 2rem; /** 20px **/
}

/* RED BOX CODE */

.red-bg {
  background-color: #4B182E;
  position: relative;
}

.red-title-box {
  position: relative;
}

.red-title {
  position: absolute;
  top: -35px;
}

/** 10PX SPACE BETWEEN ITEMS **/

.text-space {
  margin-top: 10px;
}
