*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #121121;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond-dark.png");
  color: #FBF8F3;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.container {
  max-width: 400px;
}

/* Colors: #121121 (blue) #FEEB99 (yellow) #FBF8F3 (gray) #4B182E (red)  */

/** typography **/

h1 {
  font-family: Montserrat Alternates, sans-serif;
  font-size: 4.2rem; /* 42px */
  line-height: 5.1rem; /* 51px */
}

h2 {
  font-family: Montserrat Alternates, sans-serif;
  font-size: 3.6rem; /* 36px */
  line-height: 4.4rem; /* 44px */
}

h3 {
  font-family: Montserrat Alternates, sans-serif;
  font-size: 1.8rem; /* 18px */
  line-height: 2.2rem; /* 22px */
}

h4 {
  font-family: Raleway, sans-serif;
  font-size: 3.6rem; /* 36px */
  font-weight: 700;
  line-height: 4.2rem; /* 42px */
}

h5 {
  font-family: raleway, sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 700;
  line-height: 2.1rem; /* 21px */
}

h6 {
  font-family: raleway, sans-serif;
  font-size: 2.4rem; /* 24 px */
  font-weight: 400;
  line-height: 2.8rem; /* 28px */
}

p {
  font-family: droid-serif, serif;
  font-size: 1.6rem; /* 16px */
  line-height: 2.2rem; /* 22px */
}

/** navigation **/

nav {
  color: #FBF8F3;
  height: 7rem;
  overflow: hidden;
  position: relative;
}

.nav-contents {
  align-items: center;
  background-color: #121121;
  border-bottom: 2px solid #FEEB99;
  box-shadow: 0px 0px 40px #FEEB99;
  display: flex;
  height: 7rem;
  max-width: 400px;
  padding: 0 8%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

#myLogo {
  color: #FBF8F3;
  text-decoration: none;
}

#myLogo:hover {
  text-shadow: 0px 0px 20px #FBF8F3;
}

#myLinks {
  background-color: #121121;
  border-bottom: 2px solid #FEEB99;
  display: none;
  margin-top: 7rem;
  padding: 12px 6%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.nav-text a {
  color: #FEEB99;
  display: block;
  padding: 1.6rem 1.4rem;
  text-align: right;
  text-decoration: none;
}


.nav-text a:hover {
  text-shadow: 0px 0px 10px #FEEB99;
}

.burger {
  color: #FEEB99;
  cursor: pointer;
  position: absolute;
  right: 8%;
}

.burger:hover {
  text-shadow: 0px 0px 30px #FEEB99;
}

.active {
  background-color: #FEEB99;
}

/** Buttons **/

.btn {
  align-items: center;
  height: 60px;
  width: 241px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.CONTACT {
  border: 1px solid #FEEB99;
  box-shadow: 0px 0px 4px #FEEB99, inset 0px 0px 4px #FEEB99;
  height: 4.8rem;
  margin: 20px 0 30px 0;
  width: 14.7rem;
}

.CONTACT:hover {
  box-shadow: 0px 0px 20px #FEEB99, inset 0px 0px 10px #FEEB99;
}

.CONTACT a {
  align-items: center;
  color: #FEEB99;
  display: flex;
  height: 4.8rem; /* 48px */
  justify-content: center;
  text-decoration: none;
  width: 14.7rem; /* 147px */
}

.CONTACT a:hover {
  text-shadow: 0px 0px 5px #FEEB99;
}

/** header **/

header {
  background-color: #4B182E;
  padding: 5rem 8%;
  position: relative;
}

/** footer **/

footer {
  margin-top: 50px; /* 50px */
  text-align: center;
}

#footer-contact {
  display: inline-flex;
}

.social-media-links {
  display: flex;
  justify-content: center;
}

.social-media-links li {
  margin: 0 10px 50px 10px;
}

.social-media-links li:hover {
  text-shadow: 0px 0px 10px #f8f8f3;
}

.fab {
  color: #FBF8F3;
  font-size: 2rem; /** 20px **/
}

/** SECTION & PARAGRAPH **/

section {
  margin-top: 10rem;
  padding: 0 8%;
  padding-bottom: 2rem;
  position: relative;
}

.section-paragraph {
  padding-bottom: 3rem;
  margin: 0 auto;
  max-width: 640px;
}

.paragraph-title {
  margin-bottom: 5px;
}

/** SECTION titles **/

.section-title {
  margin-bottom: 3rem;
  z-index: 1;
}

.title-box {
  margin-top: 100px;
  position: relative;
}

.title {
  position: absolute;
  top: -3.5rem;
}

/* RED BOX CODE */

.red-bg {
  background-color: #4B182E;
  background-image: url("https://www.transparenttextures.com/patterns/simple-dashed.png");
  box-shadow: 0px 0px 50px #4B182E;
  height: 100%;
  position: relative;
  z-index: 0;
}

.red-title-box {
  position: relative;
  top: -3.5rem;
}


/** SPACE MODIFIERS **/

.text-space {
  margin-top: 10px;
}

.less-space {
  padding-bottom: 5px;
}

.text-deco {
  color: inherit;
}


/******* HOMEPAGE CSS *******/

/** INTRODUCTION **/

.home-header {
  /* Hero image credit: TheDigitalArtist on Pixabay / https://pixabay.com/illustrations/tropical-summer-sunset-beach-1651426/ */
  background-image: linear-gradient(180deg, rgba(75, 24, 46, 0.2) 0%, #121121 100%), url("../images/sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100rem 60rem;
  height: 45rem;
  padding: 5rem 8% 8% 8%;
  width: 100%;
}

.home-header-line {
  box-shadow: 1px 1px 4px rgba(251, 248, 243, 0.3);
  margin-left: 0;
  margin-top: 20px;
  max-width: 800px;
}

.sub-header {
  margin-top: 20px;
}

/** PROJECTS **/

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  position: relative;
}

.project-card {
  display: flex;
  height: 315px;
  justify-content: center;
  margin: 0 auto;
  width: 315px;
}

.project-card:hover {
  box-shadow: 0px 0px 30px #FBF8F3;
}

.projects a {
  color: inherit;
  text-decoration: none;
}

.project-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cargo-card {
  background-image: linear-gradient(180deg, rgba(18, 17, 33, 0.4) 0%, rgba(18, 17, 33, 0.4) 100%), url("../images/cargo-bg-pic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
  height: 315px;
  margin: 15px 15px;
  width: 315px;
}

#busybus-card {
  background-image: linear-gradient(180deg, rgba(18, 17, 33, 0.4) 0%, rgba(18, 17, 33, 0.4) 100%), url("../images/busybus-bg-pic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125%;
  height: 315px;
  margin: 15px 15px;
  width: 315px;
}

/** TESTIMONIALS **/

.quote-mark {
  background-image: url("../images/quote-mark.png");
  background-repeat: no-repeat;
  float: left;
  height: 55px;
  margin: 30px 0 0 20px;
  opacity: .3;
  width: 75px;
}

.home-slideshow-container {
  position: relative;
}

.vibe-text {
  margin: 0 8%;
  padding-top: 100px;
}

.vibe-text h6 {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.attribute {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: right;
}

.dot-container {
  padding: 20px 8% 20px 8%;
  text-align: right;
}

.dot {
  background-color: #FBF8F3;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 15px;
  margin: 0 5px;
  opacity: .2;
  transition: background-color 0.6s ease;
  width: 15px;
}

.active {
  opacity: 1;
}


/****** CASE STUDY CSS *******/


/** VIEW PROTOTYPE BUTTON **/

.prototype {
  background: #121121;
  box-shadow: 1px 4px 4px rgba(18, 17, 33, 0.25);
  margin: 2rem auto 5rem auto;
}

.prototype a {
  color: inherit;
  text-decoration: none;
}

.prototype:hover {
  box-shadow: 0px 0px 20px rgba(18, 17, 33, 1);
}

/** DELIVERABLES AND TOOLS **/

.deliv-and-tools {
  display: flex;
  margin-bottom: 50px;
}

.tools {
  margin-left: 16%;
}

/** PROBLEM & SOLUTION **/

.solution {
  margin-top: 50px;
}

/** STICKY NAV **/

.sticky-nav {
  background-color: #4B182E;
  background-image: url("https://www.transparenttextures.com/patterns/simple-dashed.png");
  border-bottom: 2px solid #FEEB99;
  overflow: hidden;
  position: sticky;
  top: 7rem;
  z-index: 2;
}

.sticky-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 6rem;
  justify-content: center;
  width: 100%;
}

.sticky-nav a, .sticky-nav h6 {
  display: block;
  color: #f8f8f3;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
}

.sticky-nav a:hover {
  text-shadow: 0px 0px 10px #FBF8F3;
}

.sticky-links {
  display: none;
}


/** PERSONA **/

.personas {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0;
}

.lucas, .sarah {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.persona-text {
  padding-left: 30px;
}

.persona-btn {
  background-color: #FEEB99;
  bottom: 0;
  color: #121121;
  margin-bottom: 30px;
  position: absolute;
  right: 8%;
  width: 241px;
}

.persona-btn:hover {
  box-shadow: 0px 0px 20px #FEEB99;
}

span {
  font-style: italic;
}

/** FINAL CHANGES LIST **/

.check {
  color: #FEEB99;
}

.final-changes {
  margin: 20px 8%;
}

.final-changes li {
  padding: 10px 10px ;
}

/** BOTTOM **/

.prototype-bot {
  background-color: #FEEB99;
  color: #121121;
  margin: 2rem auto 5rem auto;
}

.prototype-bot a {
  text-decoration: none;
  color: #121121;
}

.prototype-bot:hover {
  box-shadow: 0px 0px 20px #FEEB99;
}

#conclusion {
  padding-bottom: 0;
}

/** IMAGES **/

#top-mockup {
  background-image: url("../images/cargo/CARGO screens black.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  height: 237px;
  margin: 30px auto;
  width: 100%;
}


#cargo-pic {
  background-image: url("../images/cargo/Color Full.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 158px;
  margin: 30px auto;
  max-width: 375px;
}

#moodboard {
  background-image: url("../images/cargo/moodboard.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 297px;
  margin: 30px auto;
  max-width: 375px;
}

#icons {
  background-image: url("../images/cargo/icons_horiz.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 70px;
  margin: 30px auto;
  max-width: 375px;
}

#notif-banner {
  background-image: url("../images/cargo/Cargo_notif_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 93px;
  margin: 30px auto;
  max-width: 375px;
}

#bot-mockup {
  background-image: url("../images/cargo/Trip Mckup 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 241px;
  margin: 30px auto 0 auto;
  max-width: 375px;
}

#last-mockup {
  background-image: url("../images/cargo/Homepage Mockup-Desk.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 249px;
  margin: 30px auto;
  width: 100%;
}




/******* ABOUT PAGE CSS *******/

/** CHOOSE YOUR DAN **/

.about-header {
  display: flex;
  flex-direction: column;
  height: 56rem;
}

.about-title {
  color: #FEEB99;
  display: inline;
  margin: 0px 8% 30px 8%;
  text-align: center;
}

.about-title h4 {
  font-weight: 400;
}

.about-slideshow-container {
  margin: 0 auto;
  max-width: 450px;
  position: relative;
}

.mySlides {
  display: none;
}

.text-center {
  text-align: center;
}

.about-slide-text {
  margin: 8% 0;
}

.about-prev, .about-next {
  border-radius: 0 3px 3px 0;
  color: #FEEB99;
  cursor: pointer;
  font-size: 3.6rem;
  font-weight: bold;
  margin: 0 4%;
  padding: 5px 5px;
  position: absolute;
  top: 6rem;
  user-select: none;
}

.about-next {
  right: 0;
}

.about-prev:hover, .about-next:hover {
  text-shadow: 0px 0px 30px #FEEB99;
}



/******* MEDIA QUERIES ********/

@media only screen and (min-width: 400px) {
  .container {
    max-width: 600px;
  }

  .nav-contents {
    max-width: 100%;
  }

  .image {
  max-width: 400px;
}

.about-prev, .about-next {
  top: 9rem;
}

@media only screen and (min-width: 600px) {

  html {
    font-size: 12px;
}
  .container {
    max-width: 992px;
  }


  /** Homepage **/

  .projects {
    flex-flow: row;
  }

  /** About page **/
  .about-prev, .about-next {
    top: 9rem;
  }

  section {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }

  /** CASE STUDY **/

.project-header {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

  .image {
  max-width: 820px;
}

  /** CASE STUDY IMAGES **/

  #top-mockup {
    height: 448px;
    max-width: 1080px;
  }

  #cargo-pic {
    height: 392px;
    max-width: 800px;
  }

  #moodboard {
    height: 550px;
    max-width: 800px;
  }

  #icons {
    height: 150px;
    max-width: 800px;
  }

  #notif-banner {
    height: 200px;
    max-width: 800px;
  }

  #bot-mockup {
    height: 435px;
    max-width: 640px;
  }

  #last-mockup {
    height: 450px;
    max-width: 1080px;
  }

}

@media only screen and (min-width: 992px) {
  .container {
    max-width: inherit;
  }

/** HOMEPAGE **/

  .home-header {
    background-size: 100%;

  }

  /** CASE STUDY **/

  .sticky-header {
    display: none;
  }

  .sticky-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}
