
/** INTRODUCTION **/

header {
  padding: 50px 8%;
  position: relative;
}

.text-space {
  margin-top: 10px;
}

/** VIEW PROTOTYPE BUTTON **/

.prototype-btn {
  align-items: center;
  background: #121121;
  box-shadow: 1px 4px 4px rgba(18, 17, 33, 0.25);
  display: flex;
  height: 61px;
  justify-content: center;
  margin: 337px auto 50px auto;
  width: 241px;
}

.prototype-btn a {
  color: inherit;
  text-decoration: none;
}

/** DELIVERABLES AND TOOLS **/

.deliv-and-tools {
  display: flex;
  margin-bottom: 50px;
}

.tools {
  margin-left: 16%;
}

/** SOLUTION **/

.solution {
  margin-top: 50px;
}

/** SECTION & PARAGRAPH **/

section {
  margin-top: 100px;
  padding: 0 8%;
  position: relative;
}

.section-title {
  margin-bottom: 30px;
}

.section-paragraph {
  padding-bottom: 30px;
}

.paragraph-title {
  margin-bottom: 5px;
}

/** RED BG CODE **/

.red-bg {
  background-color: #4B182E;
  position: relative;
}

.red-title-box {
  position: relative;
}

.red-title {
  position: absolute;
  top: -35px;
}

#user-stories {
  padding-top: 83px;
}

#pref-test {
  padding-top: 39px;
}

/** FINAL CHANGES LIST **/

.check {
  color: #FEEB99;
}

.final-changes {
  margin: 20px 8%;
}

.final-changes li {
  padding: 10px 10px ;
}

/** BOTTOM **/

#mockup-buffer {
  margin-top: 309px;
}

.bot-btn {
  background-color: #FEEB99;
  color: #121121;
  margin: 0 auto;
}

/** IMAGES **/

#top-mockup {
  background-image: url("../images/cargo/CARGO screens black.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 237px;
  left: 0;
  position: absolute;
  margin: 50px auto;
  width: 100%;
}


#cargo-pic {
  background-image: url("../images/cargo/Color Full.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 158px;
  margin: 30px auto;
  max-width: 375px;
}

#moodboard {
  background-image: url("../images/cargo/moodboard.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 297px;
  margin: 30px auto;
  max-width: 375px;
}

#icons {
  background-image: url("../images/cargo/icons_horiz.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 70px;
  margin: 30px auto;
  max-width: 375px;
}

#notif-banner {
  background-image: url("../images/cargo/Cargo_notif_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 93px;
  margin: 30px auto;
  max-width: 375px;
}

#bot-mockup {
  background-image: url("../images/cargo/Trip Mckup 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 241px;
  margin: 30px auto;
  max-width: 375px;
}

#last-mockup {
  background-image: url("../images/cargo/Homepage Mockup-Desk.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 249px;
  left: 0;
  margin: 30px auto;
  position: absolute;
  width: 100%;
}
